body{
    background-color: #EC5858;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    font-family: Helvetica;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #EC5858;
}

li{
    list-style: none;
    margin: 1.5%;
    white-space: nowrap;
}

a {
    color: white;
    text-decoration: none;
    
}

nav a:hover{
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

nav li:hover:after {
    content: url(imgPadrao/scissor.png);
    position: relative;
    bottom: 85%;
    right: 50%;
}

.menu-cliente {
    display: flex;
    position: absolute;
    right: 5%;
    top: 2.5%;   
}
  
.menu-cliente img {
    width: 30px;
    height: 26px;
    margin-left: 12px;
    cursor: pointer;
}

.cabecalho_botao{
    cursor: pointer;
}


footer {
    font-family: Helvetica;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #EC5858;
    color: white;

}

